.Phonetic a{
  border: 1px solid #ddd;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 500;
  transition: all 150ms ease-in-out;
  margin-left: 10px;
}
.Phonetic a:hover {
  background: rgb(197, 177, 243);

}
.Phonetic {
  margin: 10px 0px;
}
.Phonetic .text {
  opacity: 0.6;
  font-weight: 500;
  margin-left: 10px;
}
